{% extends "Eventiket/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Eventiket/img/peliculas.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Peliculas</span>
            <span class="section-heading-lower">Las mejores peliculas disponibles en la web</span>
          </h2>
          <p class="mb-3">Compra ya tus entradas en Eventiket.
          </p>
         
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Eventiket/img/teatros.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Teatros</span>
            <span class="section-heading-lower">Disfruta de una gran variedad de obras de teatro</span>
          </h2>
          <p class="mb-3">Compra ya tus entradas en Eventiket.
          </p>
         
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Eventiket/img/conciertos.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Conciertos</span>
            <span class="section-heading-lower">Disfruta de tus artistas favoritos</span>
          </h2>
          <p class="mb-3">Compra ya tus entradas en Eventiket.
          </p>
         
        </div>
      </div>
    </div>
  </section>
    
{% endblock %}
  
    
